<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
<connectionStrings><add name="ChatDBEntities" connectionString="metadata=res://*/Model.ChatDBModel.csdl|res://*/Model.ChatDBModel.ssdl|res://*/Model.ChatDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXDLZG;initial catalog=ChatDB;user id=sa;password=mxdlzg159; multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>